<h1>Contact Page</h1>
<div class="lineBreak"></div>
<p>If you find my page and my work intresting and you have a Job offer</br>
you are more than welcome to get in touch!</p>
<p>Phone: 070 389 98 96</br>
Mail: <a href="mailto:Pelle.Tunell@gmail.com?Subject=I%20Want%20You" target="_top">Pelle.Tunell@gmail.com</a>
</p>