<h1>About</h1>
<div class="lineBreak"></div>
<article id="about">
	<p>In my earlier days I was fond of pixel perfect design but eventually I realized the challenges of programing and found it very fulfilling. The thing that is closest to my heart is the process of making systems user friendly in the sense of Interaction Design.</p>
	<p>A successful project I contributed to was at Lantmäteriet, Lägenhetsregistret, which doubled the public use of a web form. I simplified the workflow which increased property owners understanding of the system and made it clear that the form was an easy task. Working as a team is key to every project, I think it is important to listen and present ideas in a prestigeless manner, something I learned about on my days at Sandvik System Development.</p>
	<p>My former gaming interest lead into graphics design and programing to build homepages and applications which I could trade for servers and services. This interest grew bigger during high school and for some years I was in the business sketching user experiences. Now I have graduated from Stockholm University, Institution of Data- and system science, candidate program in Interaction Design and on the hunt for an interesting employment in Uppsala or Stockholm.</p>
</article>